body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
